{% extends"base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Hello Finance</h1>
    </div>
    <div>
        <form action="submit_form" method="post" class="reveal-content">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <input name="email" type="number" class="form-control" id="email" placeholder="percentage">
                    </div>
                    <button type="submit" class="btn btn-default btn-lg">Send</button>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input name="subject" type="text" class="form-control" id="subject" placeholder="asset">
                    </div>
                    <button type="submit" class="btn btn-default btn-lg">Send</button>
                </div>
                <div class="col-md-5">
                </div>
            </div>
    </div>
    </form>
    </div>
{% endblock %}
